	.navbar .nav-link:focus-visible { outline: 1px #fff solid; }
/*.cdc-footer__inner [data-bs-toggle][aria-expanded="true"] > span { transform: rotate(180deg); } */

.modal .modal-header .btn-close { border: 0; background: transparent; }

.carousel-container .carousel-inner .carousel-item { cursor: pointer; }
@media (min-width: 770px) {
	.carousel-container .carousel-inner .carousel-item { min-height: 500px !important; }
}
@media (min-width: 992px) {
	.carousel-container .carousel-indicators [data-bs-target] .indicator-text {
		max-width: none;
	}	
}
[data-cdc-site-alert] .alert { color: #1c1d1e; }
[data-cdc-site-alert] .alert a { color: #005EA2; }

body.overflow-y-hidden { overflow-y: auto !important; }

body main section .science-at-cdc_body,
body main section.news,
body main section.health-topics .container .col-lg-7 {
	padding: 0;
}

main .container {
	max-width: 1150px;	
}
.offset-xxl-1.col-xxl-10 {
    width: 100%;
    margin: 0;
}

header.menu-container .navbar .navbar-brand img {
    height: auto;
    max-width: 250px;
}

.fancy-image img {
	border-top-left-radius: 0.5rem;
}

/* temp hide label */
.carousel-animation-switch .form-check-label { display: none; }

/* desktop */
@media only screen and (min-width: 576px) {
	body main section .science-at-cdc_body {
		padding: 1rem;
	}
	body main section.news {
		padding: 2rem;
	}
	body main section.health-topics .container .col-lg-7 {
		padding: 1rem;
	}
	/* a-z alignment */
	body main section.health-topics .container .col-lg-7 {
        padding-left: 0;
        padding-right: 2.5rem;
    }
}

@media (max-width: 991px) {
	/* hide sticky mobile nav */
	nav.navbar.fixed-top {
		display: none;
	}
	/* fix mobile carousel tabs */
	.carousel-indicators-wrapper > span {
		background: transparent !important;
	}
}

/* sections */
.section--sidebyside-top ul {
    padding-left: 1rem;
}
