.has-audentioChat {
    overflow: hidden !important;
    height: auto !important;

    body {
        overflow: hidden !important;
    }
}

.audentioChat-is-fullscreen {
    height: 100% !important;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 999999;
}