/* Style the tab */
.cmp-nyutabs .tablinks {
  border-left: 1px solid #d6d6d6;
  -webkit-box-shadow: inset 0 -1px 0 0 #d6d6d6;
  box-shadow: inset 0 -1px 0 0 #d6d6d6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: nowrap;
  list-style: none;
  align-items: stretch;
  margin: 0;
  padding: 0;
}

/* Style the buttons that are used to open the tab content */
.cmp-nyutabs .tablinks li {
  font-family: NYUPerstare, Helvetica, Arial, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  line-height: 100%;
  background: #f2f2f2;
  border: 1px solid #d6d6d6;
  border-radius: 0;
  border-width: 1px 1px 1px 0;
  color: #57068c;
  cursor: pointer;
  display: block;
  font-size: 1rem;
  padding: 1rem;
  -ms-flex-preferred-size: auto;
  flex-basis: auto;
  -webkit-box-flex: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
}

/* Change background color of buttons on hover */
.cmp-nyutabs .tablinks li:hover {
  background-color: #d6d6d6;
}

.cmp-nyutabs .tablinks li:focus {
  outline: 3px solid #3dbbdb;
  outline-offset: -3px;
}

/* Create an active/current tablink class */
.cmp-nyutabs .tablinks li.active {
  background: #fff;
  color: #000;
  border-bottom-color: #fff;
}


/* Style the tab content */
.cmp-nyutabs .tabcontent {
  display: none;
  padding-bottom: 1rem;
  border-bottom: 1px solid #d6d6d6;
}
.cmp-nyutabs .tabcontent.active {
  display: block;
}
.cmp-nyutabs.author-edit .tabcontent{
  display: block !important;
}


.cmp-nyutabs .tabParsys {
  width: 100%; 
  box-shadow: 0 -1px #d6d6d6 inset;
  text-align: left;
  margin-top: 2rem;
  margin-bottom: 1rem; 
  padding: 0;
}
.cmp-nyutabs .tabParsys p {
  display: inline-block;
  border-color: #d6d6d6 #d6d6d6 #fff #d6d6d6; 
  border-width: 1px 1px 0 1px; 
  padding: .25rem 1rem; 
  color: #000;
  font-size: 1rem;
  font-weight: bold;
  font-family: 'NYUPerstare', Helvetica, Arial, sans-serif;
  border-style: solid; 
  margin: 0; 
  background: #fff;
}