#GLOBAL_POPUP__container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 100000;
}

#GLOBAL_POPUP__lightbox {
    background: black;
    position: absolute;
    top: 0;
    opacity: 0.8;
    left: 0;
    width: 100%;
    height: 100%;

}

#GLOBAL_POPUP {
    background: white; 
    padding: 10px; 
    border: 2px solid;
    width: 400px;
    max-width: 80%;
    border-image: linear-gradient(0deg, #1E41F0, #FF3723) 1;
    border-radius: 3px;
    z-index: 1;
}

#GLOBAL_POPUP .GLOBAL_POPUP__X {
    display: flex;
    justify-content: end;
}

#GLOBAL_POPUP .GLOBAL_POPUP__X:hover {
    cursor: pointer;
}

#GLOBAL_POPUP .GLOBAL_POPUP__image-container {
    width: 100%; 
    display: flex; 
    justify-content: center
}

#GLOBAL_POPUP .GLOBAL_POPUP__image-container img {
    max-width: 170px;
    width: 50%;
    margin-top: 10px;
}

#GLOBAL_POPUP .GLOBAL_POPUP__text1 {
    font-family: var(--wp--preset--font-family--cooper-hewitt);
    text-align: center;
    font-size: 22px;
    line-height: 28px;
}

#GLOBAL_POPUP .GLOBAL_POPUP__text2 {
    font-weight: 100;
    max-width: 302px;
    margin: auto;
    font-family: var(--wp--preset--font-family--cooper-hewitt);
    text-align: center;
}

#GLOBAL_POPUP .GLOBAL_POPUP__text2 span{
    font-weight: 500;
}

#GLOBAL_POPUP .GLOBAL_POPUP__text3 {
    font-family: var(--wp--preset--font-family--cooper-hewitt);
    text-transform: uppercase;
    color: #555555;
    text-align: center;
}

#GLOBAL_POPUP #GLOBAL_POPUP__CLOSE {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #1E41F0;
    color: white;
    padding: 0 20px;
    border: none;
    font-family: var(--wp--preset--font-family--cooper-hewitt);
    text-transform: uppercase;
    margin: 20px auto 20px auto;
    text-decoration: none;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
}

#GLOBAL_POPUP #GLOBAL_POPUP__CLOSE:hover {
    cursor: pointer;
}

#GLOBAL_POPUP #GLOBAL_POPUP__CLOSE svg  {
    margin-left: 10px;

}
